<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
</head>
<body>

<footer th:fragment="footer" class="overflow-hidden pt-4 pt-md-5 pb-3" style="background-color: #f8f9fa; border-top: 1px solid black;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <h5>Партнеры и спонсоры</h5>
        <ul class="text-small text-start">
          <li><a href="https://genetico.ru/" class="link-secondary">Genetico</a></li>
          <li><a href="https://www.biocad.ru/" class="link-secondary">Биокад</a></li>
          <li><a href="https://www.generium.ru/" class="link-secondary">Generium</a></li>
          <li><a href="https://www.rfs.ru/" class="link-secondary">Федерация футбола России</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <h5>Берегите себя</h5>
        <ul class=" text-small text-start">
          <li><a href="https://xn----8sbehgcimb3cfabqj3b.xn--p1ai/" class="link-secondary">Правильное питание и здоровый образ жизни</a></li>
          <li><a href="https://www.who.int/immunization/diseases/en/" class="link-secondary">Вакцинация и профилактика заболеваний</a></li>
          <li><a href="https://www.nlm.nih.gov/medlineplus/healthyliving.html" class="link-secondary">Уход за здоровьем в различных возрастных категориях</a></li>
          <li><a href="https://medlineplus.gov/ency/patientinstructions/000655.htm" class="link-secondary">Медицинский справочник</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Контактная информация</h5>
        <ul class=" text-small text-start">
          <li>Адрес: Москва, ул. Профсоюзная, д. 115</li>
          <li>Запись на прием: <a href="tel:+74951234567" class="link-primary">+7 (495) 123-45-67</a></li>
          <li>Справочная служба: <a href="tel:+74957654321" class="link-primary">+7 (495) 765-43-21</a></li>
          <li>Электронная почта: <a href="mailto:vitality-clinic@yandex.ru" class="link-primary">vitality-clinic@yandex.ru</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>