<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменение данных пациента</title>
  <link rel="icon" type="image/ico" href="/images/favicon.ico">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="'/page elements/header' :: header"></div>
<main style="display: flex; min-height: 85vh; align-items: center">
  <div class="container auth-form col-xl-4 col-lg-6 col-md-8 col-sm-11 my-5">
    <form class="m-4" th:method="POST" th:action="@{/patient/edit/{patientId}(patientId = ${user.patient.id})}">
      <h4 class="text-center">Изменить данные пациента</h4>
      <div class="mb-3">
        <label for="last_name" class="form-label">Фамилия</label>
        <input type="text" class="form-control" name="lastName" id="last_name" th:field="${user.lastName}">
      </div>
      <div class="mb-3">
        <label for="first_name" class="form-label">Имя</label>
        <input type="text" class="form-control" name="firstName" id="first_name" th:field="${user.firstName}">
      </div>
      <div class="mb-3">
        <label for="middle_name" class="form-label">Отчество</label>
        <input type="text" class="form-control" name="middleName" id="middle_name" th:field="${user.middleName}">
      </div>
      <div class="mb-3">
        <label for="date-of-birth" class="form-label">Дата рождения</label>
        <input type="date" class="form-control" name="dateOfBirth" id="date-of-birth" th:field="${patient.dateOfBirth}">
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Пол</label>
        <select class="form-select" name="gender" id="gender" th:field="${patient.gender}">
          <option th:each="gender : ${genders}"
                  th:value="${gender.name()}"
                  th:text="#{${gender.name()}}"></option>
        </select>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Адрес электронной почты</label>
        <input type="email" class="form-control" name="login" id="username" th:field="${user.login}">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password" id="password" required th:field="${user.password}">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Изменить данные</button>
      </div>
    </form>
  </div>
</main>
<div th:replace="'/page elements/footer' :: footer"></div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>